<!-- Template for the user rating system -->

<!-- OLD script for displaying user's selected rating - do not use 
<script>
    function function1(stars){
    
        // reset all stars to grey
        for (let i = 1; i < 6; i++) { 
        document.getElementById("demo" + String(i)).className = "fa fa-star";
        }
    
        // highlight the amount of stars
        for (let i = 1; i < stars; i++) { 
        document.getElementById("test").innerHTML = "i is: " + String(i);
        document.getElementById("demo" + String(i)).className = "fa fa-star checked";
        }
    }
    
    </script> -->

<p style="display:inline"> Click to leave a rating: </p>
<span class="fa fa-star rating-star" data-index ="1"></span>
<span class="fa fa-star rating-star" data-index ="2"></span>
<span class="fa fa-star rating-star" data-index ="3"></span>
<span class="fa fa-star rating-star" data-index ="4"></span>
<span class="fa fa-star rating-star" data-index ="5"></span> <br>

<!-- <span class="fa fa-star rating-star" id = "demo5" onclick="function1(6)"></span> <br> -->


<!-- TESTING PURPOSES - REMOVE AFTER DONE -->
<h2 id="test"> </h2>