<!-- Template for displaying stories -->
<div class="container">
    <% if (stories.length > 0) { %>
    <% stories.forEach(story => { %>
    <h4 style="display:inline"> <%= story.title %> </h4> <p style="display:inline"> by <%=story.author %> </p>
    <!-- genre & rating boxes -->
    <div class="row">

        <div class="col-sm-1"> 
            <p> <%= story.genre %> </p>
        </div>

        <div class="col-sm-11"> 
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> <br>
        </div>

    </div>
    
    <p> <%= story.story %> </p>

    <!-- User can submit a rating here -->
    <p style="display:inline"> Click to leave a rating: </p>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span> <br>
    <br><br>

    <% }) %>
    <% } else { %>
      <p>No stories yet!</p>
    <% } %>

</div>