<html lang="en">
    <head>
        <title>
            Babbler
        </title>
        <%- include('../partials/imports'); %>


    </head>
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>

    
    <!-- Template for displaying stories -->
    <div><%- include('../partials/story'); %></div>
</html>