<html lang="en">
    <head>
        <title> Login to Babbler </title>
        <%- include('../partials/imports'); %>
    </head>
    
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>

    <p>
        Nobody here but us chickens!
    </p>
</html>