<html lang="en">
    <head>
        <title>
            Babbler - your Profile
        </title>
        <%- include('../partials/imports'); %>


    </head>
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>

    <body>
        <h3> check here for information about your story ranking! </h3>
    </body>
</html>