<html lang="en">
    <head>
        <title> Sign Up to Babbler </title>
        <%- include('../partials/imports'); %>

        <!-- script to show and hide hints for username and password format -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const usernameInput = document.getElementById('username');
                const usernameHint = document.getElementById('usernameHint');
              
                const passwordInput = document.getElementById('password');
                const passwordHint = document.getElementById('passwordHint');
              
                function validateInput(input, hint) {
                  if (input.validity.valid || input.value === '') {
                    hint.style.display = 'none';
                  } else {
                    hint.style.display = 'block';
                  }
                }
              
                usernameInput.addEventListener('input', () => validateInput(usernameInput, usernameHint));
                passwordInput.addEventListener('input', () => validateInput(passwordInput, passwordHint));
            });

          </script>
    </head>
    
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>

    <!-- <p> Nobody here but us chickens! </p> -->

    <body>
        <div class="container">
            <h4> Sign Up</h4>
            <form action="/signup" method="POST">

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" pattern="^[a-zA-Z0-9_]+$" required maxlength="30">

                    <div id="usernameHint" style="display: none" class="panel panel-danger">
                        <div class="panel-heading">  Username can only contain letters, numbers and underscores. </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <!-- <small>Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</small> -->
                    <input type="password" class="form-control" name="password" id="password" required maxlength="30" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">

                    <div id="passwordHint" style="display: none" class="panel panel-danger">
                        <div class="panel-heading">  Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters. </div>
                    </div>
                </div>

                <!-- TODO: Insert confirm password here -->


                <div class="form-group">
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </div>

            </form>

            <!-- Show error message if sign up fails -->
            <% if (errorMessage) { %>
                <div class="alert alert-danger">
                    <%= errorMessage %>
                </div>
            <% } %>
            </div>

    </body>

</html>