<html lang="en">
    <head>
        <title>
            Babbler
        </title>
        <%- include('../partials/imports'); %>

    </head>
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>
    
    <!-- Template for displaying stories -->
    <div class="container">
        <div><%- include('../partials/story'); %></div>

    <!-- display claim form on anonymous works -->
        <div class="container">
            <% if (story.author === "Anonymous"){ %>
                <p> This work is anonymous. </p>
            <% } %>
        </div>
    </div>


</html>