<html lang="en">
    <head>
        <title>
            Babbler
        </title>
        <%- include('../partials/imports'); %>


    </head>
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>

    <div class="container"> <p> Thanks for submitting!</p> </div>
    
