<html lang="en">
    <head>
        <title>
            Babbler
        </title>
        <%- include('../partials/imports'); %>


    </head>
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>

    <body>
        <div class="container"> <p> Thanks for submitting!</p>

        <!-- display message if story was posted anonymously -->
        <% if (newstory.author === "Anonymous" || !username ){ %>
           <p> <b> Your story was published anonymously. If you wish to claim it later, you will have to use this code: </b></p>
           <p> <b> <%= claimcode %> </b></p>
           <p> Please save it somewhere secure. You cannot retrieve this code again. </p>
        <%} %>
    </div>
        
    </body>
</html>